@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

* { 
    font-family: 'Roboto', sans-serif;
}

.cardMinisterio h1 {
    font-weight: 500;
}

.bgColor {
    background-color: rgba(0, 0, 0, 0.);
    padding-bottom: 60px;
}

.portadaMinisterio {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.5);
    background: url("../../img/campaña.jpeg") no-repeat center center/cover;
    opacity: 0.68;
    width: 100%;
    height: 300px;
}

.ministerio {
    width: 100%;
    height: 400px;
    padding-top: 90px;
}

.cardMinisterio {
    background-color: rgba(0, 0, 0, 0.37);
    border-radius: 20px 0px 0px 20px;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
} 

.boxUno {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-top: 20px;
}

.cardMinistro {
    background-color: rgb(52, 171, 250);
    border-radius: 0px 20px 20px 0px;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.5);
}

.ImgMinis {
    object-fit: cover;
    width: 150px;
    height: auto;
    margin: 10px;
}

.acordion {
    background-color: rgb(157, 214, 252);
}

.cardSec {
    width: 100%;
    height: 170px;
    background-color: rgb(52, 171, 250);
    border-radius: 20px 20px 20px 20px;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.5)
    
}

.SecMin {
    object-fit: cover;
    width: 150px;
    height: auto;
    margin: 30px;
}

.cardTer {
    width: 100%;
    height: 90px;
    background-color: rgb(52, 171, 250);
    border-radius: 20px 20px 20px 20px;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.5)
}

.cardLeg {
    width: 100%;
    height: 90px;
    background-color: rgb(111, 113, 114);
    border-radius: 20px 20px 20px 20px;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.5);
}

.cardLegi :hover {
    transition: 500ms;
    top: 5px;
    right: 5px;
    left: 5px;
    bottom: 5px;
    position: relative;
}

@media only screen and (max-width: 767px){
    .cardSecret {
        margin: 30px;
    }
}