.footer {
    width: 100%;
    height: 270px;
}

@media all and (max-width: 760px) {
    .footer {
        height: auto;
    }

    .footerCol {
        border-right: 0;
    }

    .logoFooter {
        width: 350px;
        margin: 20px;
    }
}

@media all and (min-width: 761px) and (max-width: 991px) {
    .footer {
        height: auto;
    }
     
    .logoFooter {
        width: 360px;
        margin: 20px;
    }

}

@media all and (min-width: 992px) and (max-width: 1200px) {
    .footerColDos {
        width: 270px;
    }

    .logoFooter {
        width: 300px;
    }

    .footerColTres {
        width: 230px;
    }
}
    
